<!DOCTYPE html>
<html lang="en">
<!-- Header -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Heather's EMS Example</title>
    
    <!-- Stylesheet - Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/new">Shop</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/list">Contact Us</a>
        </li>
    </ul>
</nav>
<!-- Jumbotron Message Box -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome to Shop N Go!</h1>
        <p>Where we provide all your shopping needs on the fly.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Shop Now &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Gluten-Free</h2>
            <p>Healthy eating doesn't just have to be for dieters.  Today, nearly 86% of people are 
                gluten intolerant and some may not even be away of it yet.  Shop N Go provides a large
                variety of gluten-free products to supply the needs of all our valued customers.   </p>
            <p><a class="btn btn-secondary" href="#" role="button">Read More &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Allergen-Free</h2>
            <p>We understand the severeness and importance of food allergens.  Our specialized food experts
                ensure safe package and handling, along with specialized substitute ingredients to accommodate
                customer needs.
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">Read More &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Vegan</h2>
            <p>Daily supplies of the freshest fruits and vegetables.  An array of imported spices and endless
                opportunities to create delicious, vegan meals.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Read More &raquo;</a></p>
        </div>
    </div>

    <hr>
<footer>
    <p>&copy; Shop N Go Company 2018</p>
</footer>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>